$background-color: rgb(250, 250, 250);
$text-color: #222; 

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

ul.nav{
  margin-top: 24px;
  list-style-type:none;
  display:flex;
  justify-content: center;
  margin-bottom: 0px;
  height: 30px;
}

.nav-item{
  display: list-item;
  margin: 0px 12px 0px 12px;
}

.nav-link{
  border-bottom-color: $background-color;
}

.nav-link:hover{
  border-bottom-color: $text-color;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  background-color: rgb(250, 250, 250);
  @include transition(border-bottom-color 2s ease);
}