<ul class="section nav">
  <!-- Whenever you do want to actually add real links this is how you do it. -->
  <!-- <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active">Support</a>
      </li> -->
  <li class="nav-item">
    <a class="nav-link" href="http://leblum.com">Shop</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://leblum.com/about/">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://leblum.com/magazine/">Magazine</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://leblum.com/my-account/">Support</a>
  </li>
</ul>