<div class="section values">
  <div class="container">
    <div class="row">
      <div class="one-third column value">
        <h2 class="value-multiplier">Product API</h2>
        <h5 class="value-heading">Create Product Templates</h5>
        <p class="value-description">Percentage of users more likely to purchase on mobile friendly site.</p>
      </div>
      <div class="one-third column value">
        <h2 class="value-multiplier">For All Your producty needs</h2>
        <h5 class="value-heading">Update Products</h5>
        <p class="value-description">Most of the world accesses the internet on multiple devices.</p>
      </div>
      <div class="one-third column value">
        <h2 class="value-multiplier">Turning Products Live</h2>
        <h5 class="value-heading">Live Products</h5>
        <p class="value-description">Percentage of users that are frustrated with page load times.</p>
      </div>
    </div>
  </div>
</div>